body{
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

input{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    /* width: 40vw; */
    border: 1px solid hsl(240, 85%, 30%);
    border-radius: 10px;
    background-color: hsl(204, 100%, 58%);

}
button{
    background-color: tomato;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}